body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg);
  background-size: cover;
  display: flex;
}

h1 {
  font-size: xx-large;
  color: aquamarine;
  margin-top: 15%;
  margin-bottom: auto;
}

div{
  color: aliceblue;
}

.game{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 5%;
}

button{
  color: azure;
  background-color: black;
  border: none;
  
  cursor: pointer;
}

.card {
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(138, 184, 182);
  display: flex;
  
  transform-style: preserve-3d;
  transition: transform .5s;
  cursor: pointer;
}

.card img, .card svg{
  width: 180px;
  height: 180px;
  position: absolute;
  backface-visibility: hidden;

  pointer-events: none;
}

.card svg {
  width: 100px;
  height: 100px;
  opacity: .3;
}

.card.matched {
  transform: rotateY(180deg);
}

.App {
  text-align: center;
}

.winRestart{
  height: 80px;
  width: 150px;
  margin-top: 20%;
  border-style: solid;
  border-radius: 3px;
  border-color: aquamarine;
}