body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  
}


h1 {
  font-size: larger;
  color: aquamarine;
  margin-top: 15%;
  margin-bottom: auto;
}

.game{
  display: grid;
  gap: 2rem;
  grid-template-columns: auto auto auto auto;
}

button{
  border: none;
  color: azure;
  background-color: black;
  cursor: pointer;
}

.card{
  cursor: pointer;
  background-color: aliceblue;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 170px;
}

.card img, .card svg{
  width: 70%;
  position: absolute;
  pointer-events: none;
  backface-visibility: hidden;
  
}

.card svg {
  width: 100px;
  height: 100px;
  opacity: .3;
}

.App {
  text-align: center;
}





